@use "bootstrap";

// Fonts Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('bootstrap-icons/font/bootstrap-icons.css');

//palette di colori from backend //

$light-blue: #A2D5F2;
$navy-blue: #005792;
$mint-green: #A8E6CF;
$aqua-green: #76C7C0;
$light-gray: #E8E8E8;
$dark-grey: #6B6B6B;
$pure-white: #FFFFFF;
$soft-pink: #F7CAC9;
$stars: #fda624;
$stars-hover: #f5b95e;
$warm-grey: #D9DBDF;


body {
    background-color: $light-gray;
    font-family: 'Roboto', sans-serif !important;
}

header {
    box-shadow: 0 3px 5px $dark-grey;
}

//buttons
.send,
.back,
.show {
    color: $pure-white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px $dark-grey;
    padding: 10px 12px;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;

    &:active {
        box-shadow: 1px 1px 3px $dark-grey;
        transform: translateY(2px);
    }
}

.send {
    letter-spacing: 1px;
    background-color: $navy-blue;

    &:hover {
        background-color: $aqua-green;
    }

    &:active {
        background-color: $navy-blue;
    }
}

.back {
    background-color: $dark-grey;
    color: $pure-white;

    &:hover {
        background-color: $light-gray;
        color: $navy-blue;
    }

    &:active {
        background-color: $dark-grey;
        color: $pure-white;
    }
}

.show {
    background-color: $aqua-green;
    color: $pure-white;

    &:hover {
        background-color: $mint-green;
        color: $navy-blue;
    }

    &:active {
        background-color: $aqua-green;
        color: $pure-white;
    }
}