@use "bootstrap";

// Fonts Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('bootstrap-icons/font/bootstrap-icons.css');

//palette di colori from backend //

$light-blue: #A2D5F2;
$navy-blue: #005792;
$mint-green: #A8E6CF;
$aqua-green: #76C7C0;
$light-gray: #E8E8E8;
$dark-grey: #6B6B6B;
$pure-white: #FFFFFF;
$soft-pink: #F7CAC9;


body {
    background-color: $light-gray;
    font-family: 'Roboto', sans-serif !important;
}

header {
    box-shadow: 0 3px 5px $dark-grey;
}